@model IEnumerable<Sgtcc.Models.Tcc2>
@using GridMvc.Html  

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
}

<h2>Agendamentos</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Aluno.nome).Titled("Aluno").Filterable(true);
    columns.Add(c => c.titulo).Titled("Título").Filterable(true);
    columns.Add(c => c.data).Titled("Data").Filterable(true);
    columns.Add(c => c.local).Titled("Local").Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Details", "Details", new { id = o.Id }));

}).WithPaging(10).Sortable(true).Filterable(true).WithMultipleFilters()
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
}
