@model Sgtcc.Models.Tcc2

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
    if (HttpContext.Current.Session["UserId"] == null)
    {
        Response.Redirect("~/");
    }
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tcc2</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
        </div>    

        <div class="form-group">
            @Html.LabelFor(model => model.Orientador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Orientador", ViewBag.Professores as SelectList)
                @*@Html.EditorFor(model => model.Orientador, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Orientador" } })*@
                @Html.ValidationMessageFor(model => model.Orientador, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
