@model IEnumerable<Sgtcc.Models.Tcc2>

@{
    ViewBag.Title = "Index";

    if (HttpContext.Current.Session["UserId"] == null)
    {
        Response.Redirect("~/");
    }

    Sgtcc.Models.Model1Container db = new Sgtcc.Models.Model1Container();

    int currentId = (int)HttpContext.Current.Session["UserId"];

    if (db.Alunos.Where((Sgtcc.Models.Aluno a) => a.Id == currentId).FirstOrDefault() != null)
    {
        Layout = "~/Views/Shared/_LayoutAluno.cshtml";
    }
    else if (db.Professores.Where((Sgtcc.Models.Professor p) => p.Id == currentId).FirstOrDefault() != null)
    {
        Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
