@model Sgtcc.Models.Tcc

@{
    ViewBag.Title = "Details";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/");
    }

    Sgtcc.Models.Model1Container db = new Sgtcc.Models.Model1Container();
    int currentId = (int)HttpContext.Current.Session["UserId"];

    if (db.Professores.Where((Sgtcc.Models.Professor p) => p.Id == currentId).FirstOrDefault() != null)
    {
        Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<h2>Details</h2>

<div>
    <h4>Tcc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situação)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situação)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


